<header id="goldenGateCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#goldenGateCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#goldenGateCarousel" data-slide-to="1"></li>
    <li data-target="#goldenGateCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <div class="fill">
        <%= image_tag "iwatch0c.jpg" %>
      </div>
      <div class="carousel-caption">
        <h2>Doesn't Matter When</h2>
      </div>
    </div>
    <div class="item">
      <div class="fill">
        <%= image_tag "iwatch1c.jpg" %>
      </div>
      <div class="carousel-caption">
        <h2>We Don't Even Have to Try</h2>
      </div>
    </div>
    <div class="item">
      <div class="fill">
        <%= image_tag "iwatch2c.jpg" %>
      </div>
      <div class="carousel-caption">
        <h2>It's Always a Good Time</h2>
      </div>
    </div>
  </div>

</header>